SECRET_KEY=<random string>
SPOTIFY_CLIENT_ID=<spotify client id>
SPOTIFY_CLIENT_SECRET=<spotify client secret>
SPOTIFY_SERVICE_USER_URI=<spotify uri for user that should be used for general API calls>
DB_NAME=harmonize
DB_USER=harmonize
DB_PASSWORD=<user's db password>
DB_HOST=<db host>
DB_PORT=<db port>
REDIS_HOST=<redis host>
REDIS_CACHE_DB=6
REDIS_CELERY_DB=7
